* {box-sizing: border-box;}

body {
  padding-top: 40px; /* Collapsing margins :( */
  background: #87b5b5;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", 
  "Segoe UI", "Lucida Grande", Verdana, Arial, 
  Helvetica, sans-serif;  
}

#editor {
  min-height: 300px;
  background: antiquewhite;
}

#editor, #preview {
  margin-top: 100px;
  min-height: 300px;
  width: 90%;
  margin: 0 5%;
  border: cadetblue solid 3px;
  box-shadow: black 7px 7px 3px;
}

#preview {
  margin: 20px auto;
  padding: 0 20px;
}

#preview blockquote {
  border: 3px solid #224B4B;
  color: whitesmoke;
  background: hsla(180, 90%, 20%, 0.74);
  padding-left: 5px;
  margin-left: 25px; 
}

#preview code {
  background: whitesmoke;  
  font-size: 12px;
  font-weight: bold; }

#preview pre {
  background: whitesmoke;
  padding: 5px 0 5px 5px; }

#preview h1 {
  border-bottom: 2px solid darkslategrey; }

#preview h2 {
  border-bottom: 1px solid darkslategrey; }